<div class="container-fluid">
  <h2>Categories</h2>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :priority %>
    <%= form.text_field :priority, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit, class:'btn btn-primary' %>
  </div>
</div>